body{
	margin: 0;
	padding: 10;
	font-family: sans-serif, 'Ariel';
}

.logo {
	width:85px;
	margin-top: 0px;
	margin-left: 20px;
	float: left;
	padding-bottom: 20px;
}

.login{
	float:right;
	font-size: 11px;
}

.leftTab{
	float: left;
	margin-bottom: -4px;
	position: inherit;
	width: 70%;
}

.leftTab li{
	margin-top:0px;
	font-size: 11px;
	width:100px;
	list-style-type: none;
	margin-left:-32px;
}

.panel-header #sbHeader{
	padding-left: 25px;
	margin-bottom:-10px;
	font-size: 10px;
}

.mainPageHeader ul{
	position: relative;
	float: right;
	display: inline;
	list-style-type: none;
	font-size: 10px;
	margin-left: 0px;
}

.mainPageHeader ul li{
	display: inline;
}

.centerTabMain {
float: right;
width: 90%;

}

.leftsideTab {
	margin-bottom: -600px;
}
