body{
	padding: 10;
	font-family: sans-serif, 'Ariel';
	font-size: 10px;
}

.logo {
	width:85px;
	float: left;
	margin: 0px;
}

.login{
	float:right;
	font-size: 11px;
}


.panel-body{
	width: 150px;
}

.leftTab li{
	margin-top:0px;
	font-size: 11px;
	width:100%;
	list-style-type: none;
	margin-left:-39px;
}

.panel-header #sbHeader{
	padding-left: 25px;
	margin-bottom:-10px;
	font-size: 10px;
}

.mainPageHeader ul{
	position: relative;
	float: right;
	display: inline;
	list-style-type: none;
	font-size: 10px;
	margin-left: 0px;
}

.mainPageHeader ul li{
	display: inline;
}

.centerTab {
float: right;
width: 90%;

}

.mp-head-right ul, li {
	float: left;
}

.mp-head-left {
	float: left;
}

.leftsideTab {
	float: left;
	margin-right:0px;

}

.centerTab li{
	float: right;
}
