body{
	margin: 10px;
	font-family: sans-serif, 'Ariel';
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #0645ad;
	background: none;
}

/*Left side tab*/
.logo {
	position: relative;
	right: 2em;
	width:180px;
	float: left;
	margin: 0px;
}
.leftTab {
	margin-top: 20px;
}
.leftTab li{
	margin-top:0px;
	font-size: 12px;
	width:100%;
	list-style-type: none;
	margin-left:-39px;
}
/*end of left side tab*/

/*login tab*/
.login{
	float:right;
	font-size: 11px;
}
/*end of login tab*/


.leftsideTab {
	position: relative;
	font-size: 16px;
	bottom: 8em;
	float: left;
	margin-right:0px;
}

.centerTab li{
	float: right;
}

.leftsideTab.conatiner-fluid {
	padding:0px;
	margin:0px;
}

.leftsideTab.conatiner-fluid.row {
	padding:-10px;
	margin:-10px;
	width: 250px;
}

/*CenterHeaderList*/
.container-custom {
	width: 450px;
	float: right;
	width: 90%;
}

.container-custom ul{
	padding: 0;
	margin: 0;
}

.container-custom ul li {
	width: 150px;
	height: 20px;
	float: right;
}
/*end of centerHeaderList*/

/*Welcome to wikiheader*/
.mainPageHeader {
	position: absolute;
	top:9.5em;
}
.mainPageHeader ul #Main {
	position: relative;
	bottom: 6em;
	right:17em;
	font-size: 90%;
}

.mainPageHeader ul #MainPage {
	position: relative;
	bottom: 6em;
	right:16em;
	font-size: 90%;
}

.mainPageHeader ul{
	position: relative;
	float: right;
	display: inline;
	list-style-type: none;
	margin-left: 0px;
}

.mainPageHeader ul li{
	display: inline;
}


.mp-head-right ul, li {
	float: left;
}

.mp-head-left {
	float: right;
	display: block;
}
/*end of Welcome to WikiHeader*/

#topLinks {
	position:relative;
	top:50px;
	left:1400px;
	margin:0.4em;
	 width:22em;
	 text-align:center
}

#topLinks ul{
	padding-right: 50px;
	margin-right: 50px;
	min-height: 20px;
}

#topLinks ul li {
	padding-top: 5px;

}

#mp-topbanner {
	position: relative;
	left:200px;
	top:75px;
	clear:both;
	box-sizing:border-box;
	width:1600px;
	height:100px;
	background-color:#f9f9f9;
	color:#000;
	white-space:nowrap;
}

.mp-head-right ul{
	position:relative;
	left: 144em;
	bottom: 6em;
	font-size: 90%;

}

.mp-head-right ul li{
	margin-right: 20px;
}

.search {
	position: relative;
  left: 1800px;
	bottom: 6em;
  width: 300px;
}

.MainPageBG {
	width:55%;
	border:1px solid #cef2e0;
	padding:0;
	background:#f5fffa;
	vertical-align: top;
	color: #000;
}
